.searchBar {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
}

.searchBox {
    display: flex;
    align-items: center;
    width: 600px;
    margin-left: 40px;
}

.searchIcon {
    position: absolute;
    height: 20px;
    object-fit: contain;
    margin-left: 10px;
}

.searchInput {
    padding: 10px;
    border-radius: 20px;
    color: #555;
    text-indent: 25px;
    border: none;
    font-size: 15px;
    width: 100%;
}

.searchInput:focus {
    outline: none;
}

.searchBtn {
    padding: 10px;
    color: #ffffff;
    background: rgb(1, 201, 118);
    border: none;
    border-radius: 20px;
    position: relative;
    left: -63px;
    right: 30px;
    cursor : pointer;
}

.searchBtn{
    outline : none;
}

@media only screen and (max-width : 640px) {
    .searchBox {
        display: flex;
        align-items: center;
        width: 280px;
        margin-left: 40px;
    }
}