<<<<<<< HEAD
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

a{
    color : rgb(255, 255, 255)
=======
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

a{
    color : rgb(255, 255, 255)
>>>>>>> 05a5e51adab697b0d253337c712e4e2bb60010fa
}