.book {
    background-color: white;
    color: #555;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    width: 300px;
}

.bookTitle {
    font-size: 18px;
    font-variant: small-caps;
    color: #555;
}

.bookAuthor {
    width: max-content;
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: rgb(21, 103, 180);
}

.editBtn {
    border: none;
    background-color: rgb(21, 103, 180);
    color: white;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
}

.deleteBtn {
    border: none;
    background-color: rgb(180, 21, 21);
    color: white;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
}